.main-Admin {
    background-image: url("./logo4.jpg");
    background-size: cover;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 97%;
    height: 130vh;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;

}

.contact-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    margin: 40px;
    margin-bottom: 5rem;
}

.form-admin {
    width: 40%;
    height: auto;
    border-radius: 8px;
    display: inline-block;
    background-color: #E3E2DF;
    box-shadow: 5px 5px 15px #f9004d;
    padding-top: -20px;
    margin-bottom: 3rem;
    margin-left: 6rem;
}



/* .form-Admin {
    width: 40%;
    height: 65vh;
    border-radius: 8px;
    display: inline-block;
    background-color: transparent;
    box-shadow: 5px 5px 15px #f9004d;
    padding-top: 20px;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 10px solid black;
    margin-right: 10rem;
} */


h1 {
    font-family: Arial;
    font-weight: bolder;
    color: #f9004d;
    width: 100%;
    text-align: center;
    font-size: 40px;

}

p {
    color: red;
    font-size: 20px;

}

h4 {
    font-family: Arial;
    font-weight: bolder;
    color: #086063;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.form-admin {
    text-align: center;
    padding-bottom: 20px;
}

.form-admin label {
    font-size: 20px;
    font-weight: bold;
    color: #1A1A1D;
}

form input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 5px;
    padding: 5px;
    background-color: #E3E2DF;
    color: #1A1A1D;
    border-radius: 10px;

}

input:hover {
    background-color: gold;
    color: #1A1A1D;
}

button {
    background-color: #f9004d;
    color: #E3E2DF;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

h3 {
    font-family: Arial;
    font-weight: bolder;
    color: #1A1A1D;
    width: 100%;
    text-align: center;
    font-size: 20px;
}